.main-div{
    min-height: 100vh;
    width: 100wh;
    border: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
    
.nav-1{
    height:30px;
    width:100%;
    background-color:black;
    border: 3px  solid black;
}
        
.nav-2{
    height:30px;
    width:100%;
    background-color:rgb(59, 59, 102);
    border: 3px  solid rgb(59, 59, 102);
}
    
.container-1{
    min-height: 90vh;
    padding: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
}
    
.cont-1-a{
    height:230px;
    width: 400px;
    margin-top:10px;
    margin-left:9px;
    border-radius: 15px;
    background-color: rgb(137, 133, 133);
}
    
.mike-img{
    height: 35px;
    width: 35px;
    border:1px rgb(128, 123, 123);
    border-radius: 100%;
    margin-left: 350px;
    margin-top: 12px;
}
    
.blank-img{
    height: 130px;
    width: 130px;
    border:1px white;
    border-radius: 100%;
    margin-left: 130px;
    margin-top: 5px;
}
    
h1{
    font-size: 17px;
    font-family: Arial;
    color: rgb(8, 8, 8);
    margin-left: 25px;
    margin-bottom: 30px;
}

.container-2{
    height: 700px;
    width: 400px;
    background-color: white;
    border:1px white;
    border-radius: 15px;
    margin-top:15px;
    padding: 10px;
}

.img{
    height: 40px;
    width: 40px;
    border-radius: 90%;
    margin-top: 15px;
}
    
b{
    font-size: 17px;
    margin-left: 20px;
}
    
p{
    font-size: 15px;
    margin-left: 75px;
}